.collectiblesTable td {
  vertical-align: middle;
}

.activeRow td {
  background-color: var(--neutral-light-9) !important;
  color: var(--primary) !important;
}

.collectibleName:hover {
  color: var(--primary);
  text-decoration: underline;
  text-decoration-color: var(--primary-light-2);
}

.playAllButton {
  margin-left: 28px;
}

.playAllButton .playAllButtonIcon {
  margin-right: 8px;
  width: 12px !important;
  height: 12px !important;
}

.playAllButton .playAllButtonText {
  font-size: 11px;
}
