.playAllButton {
  margin-left: 28px;
}

.playAllButton .playAllButtonIcon {
  margin-right: 8px;
  width: 12px !important;
  height: 12px !important;
}

.playAllButton .playAllButtonText {
  font-size: 11px;
}
